
.container {
  max-width: 1155px;
  padding: 0 15px;
  margin: 0 auto;
}

@font-face {
  font-family: "Proxima-Nova 400";
  src: url("../fonts/proximanova_regular.woff") format("woff"), url("../fonts/proximanova_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima-Nova 600";
  src: url("../fonts/proximanova_bold.woff") format("woff"), url("../fonts/proximanova_bold.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima-Nova 700";
  src: url("../fonts/proximanova_extrabold.woff") format("woff"), url("../fonts/proximanova_extrabold.woff2") format("woff2");
}
@font-face {
  font-family: "Parangon";
  src: local("Parangon 530 C"), local("Parangon-530-C"), url("../fonts/Parangon530C.woff2") format("woff2"), url("../fonts/Parangon530C.woff") format("woff"), url("../fonts/Parangon530C.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helveticaneuecyr-normal";
  src: url("../fonts/helveticaneuecyr_thin.woff") format("woff"), url("../fonts/helveticaneuecyr_thin.woff2") format("woff2");
}
@font-face {
  font-family: "helveticaneuecyr";
  src: url("../fonts/helveticaneuecyr_roman.woff") format("woff"), url("../fonts/helveticaneuecyr_roman.woff2") format("woff2");
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
}
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "MailSansRoman-Regular";
  src: url("../fonts/MailSansRoman-Regular.woff") format("woff"), url("../fonts/MailSansRoman-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "MailSansRoman-Medium";
  src: url("../fonts/MailSansRoman-Medium.woff") format("woff"), url("../fonts/MailSansRoman-Medium.woff2") format("woff2");
}
.accordion {
  font-family: "Lato", sans-serif;
}
.accordion__wrapper {
  padding: 0;
  display: grid;
  grid-template-columns: 540px 560px;
  justify-content: space-between;
}
.accordion__list {
  margin-top: 25px;
  list-style: none;
  padding: 0;
}
.accordion__text {
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5b5b5b;
  transition: 2s;
  padding: 0 30px;
}
.accordion__text-hidden {
  transition: 2s;
  display: none;
  bottom: 0;
}
.accordion__inner {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 19px 28px;
  border: 2px solid #c6cdda;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  color: #283f75;
  letter-spacing: -0.25px;
  margin-bottom: 17px;
}

.content-cms h2 {
  color: #283f75;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.3px;
  line-height: 44.2px;
}

.content-cms p {
  margin-top: 16px;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5b5b5b;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 942px;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: stretch;
}

.product {
  width: 290px;
  margin: 0px 36px 25px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.product__wrapper {
  position: relative;
  margin-bottom: -4px;
}
.product__decore-top {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: 14px;
  justify-content: center;
  font-family: "Parangon";
}
.product__decore-top p {
  margin-top: 12px;
}
.product__img-decore {
  margin-right: 4px;
}
.product__image {
  margin: 0;
}
.product__chapter {
  font-family: "Proxima-Nova 400";
  font-size: 14px;
  line-height: 17.05px;
  color: #6e6659;
  font-weight: 400;
  margin-bottom: 11px;
}
.product__text {
  font-family: "Proxima-Nova 600";
  color: #264e58;
  line-height: 21.92px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}
.product__article {
  font-family: "Proxima-Nova 400";
  color: #a5a5a5;
  font-size: 14px;
  line-height: 17.05px;
  margin-bottom: 8px;
}
.product__article span {
  color: #264e58;
}
.product__prise {
  color: #a5a5a5;
  display: flex;
  align-items: end;
  font-family: "Proxima-Nova 400";
  font-size: 14px;
  line-height: 17px;
}
.product__num {
  margin: 0 5px;
  font-family: "Proxima-Nova 700";
  color: #6e6659;
  font-size: 24px;
  line-height: 29.23px;
}
.product__num::first-letter {
  margin-right: 5px;
}
.product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-top: 15px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-bottom: 22px;
  background: #eff5f5;
}
.product__decore-bottom {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 15px;
  right: 10px;
  width: 60px;
  font-size: 8px;
  color: #4f493f;
  justify-content: center;
  background: white;
  height: 14px;
}
.product__img-decore-bottom {
  margin-right: 2px;
}

.bank__wrapper-img-top {
  margin-left: 20px;
}
.bank__container {
  background: white;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.bank__container-title {
  display: flex;
  position: absolute;
  font-family: "helveticaneuecyr-normal";
}
.bank__container-title span {
  margin-right: 11px;
  font-size: 20px;
  line-height: 30px;
}
.bank__container-title h2 {
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  margin: 0;
  font-family: "helveticaneuecyr-normal";
  font-size: calc((100vw - 375px) / 1545 * 28 + 20px);
  line-height: calc((100vw - 375px) / 1545 * 42 + 30px);
  text-transform: uppercase;
  letter-spacing: 1.7px;
}
.bank__content p {
  position: relative;
  max-width: 520px;
  font-family: "helveticaneuecyr";
  font-size: 16px;
  line-height: 24px;
}
.bank__content p::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background: black;
}
.bank__container-title-top h2 {
  margin-top: 5px;
}
.bank__container-title-top {
  top: 43px;
  left: 9px;
}
.bank__content-top p {
  padding-left: 30px;
  padding-right: 20px;
}
.bank__container-top {
  position: relative;
  justify-content: start;
}
.bank__content-top p {
  margin-left: 80px;
  margin-top: 130px;
}
.bank__container-bottom {
  justify-content: start;
}
.bank__container-title-bottom {
  top: 70px;
  right: 25px;
}
.bank__container-title-bottom span {
  color: white;
}
.bank__container-bottom h2 {
  max-width: 921px;
  margin-top: 5px;
}
.bank__container-bottom p {
  margin-top: 230px;
  margin-left: 49px;
  padding-left: 30px;
}
.bank__container-bottom {
  margin-top: 55px;
  position: relative;
}

.d-none {
  display: none;
}

.form {
  font-family: "GothamPro";
}
.form__container {
  background-image: url(../image/fon.png);
  max-width: 1100px;
  padding: 201px 150px 186px 110px;
  margin: 0 auto;
}
.form__mail {
  position: relative;
}
.form__inner-mail {
  position: absolute;
  top: -50px;
  color: white;
  left: 0;
}
.form__title {
  color: white;
  margin: 0;
  letter-spacing: -2.5px;
  font-size: 70px;
  font-family: "GothamProBold";
}
.form__text-main {
  font-size: 18px;
  line-height: 27px;
  color: white;
  margin-bottom: 22px;
}
.form__inputs {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.form__input {
  width: 275px;
  border: 1px solid white;
  background: transparent;
  padding: 14px 30px;
  color: white;
}
.form__inputs input::placeholder {
  color: white;
}
.form__tel {
  padding: 14px 5px 14px 55px;
}
.form__wrapper-tel {
  position: relative;
}
.form__wrapper-tel img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 17.32px;
  height: 20px;
  margin: auto 0;
  background-repeat: no-repeat;
  /* background-image: url(/image/flag.png); */
}
.form__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.form__text {
  color: white;
  margin-top: 0px;
  max-width: 719px;
  line-height: 17.18px;
  font-size: 14px;
}
.form__text a {
  color: #eb7979;
}
.form__button {
  width: 337px;
  padding: 15px 0;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .form{
    display: none;
  }
  .diagram{
    display: none;
  }
  .products {
    display: none;
  }
  .accordion {
    display: none;
  }
  .bank__content p {
    min-width: 0px;
  }
  .bank__container-title {
    flex-direction: column-reverse;
    align-items: center;
  }
  .bank__container-bottom {
    margin-top: 15px;
    position: relative;
  }
  .bank__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bank__container-title {
    position: relative;
    top: 0;
    left: 0;
  }
  .bank__content p {
    margin: 0 auto;
    min-width: 800px;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .bank__content p::before {
    background: transparent;
  }
  .bank__wrapper-img {
    padding: 0 10px;
    order: 1;
    background-size: cover;
  }
  .bank__img {
    width: 100%;
  }
  .bank__container-title-bottom span {
    color: black;
  }
  .bank__container-title h2 {
    text-align: center;
  }
  .bank__wrapper-img{
    margin: 0;
  }
}
@media (max-width: 960px){
  .bank__content p {
    min-width: auto;
  }
  .bank__content p{
    padding: 0;
  }
  .bank__container{
    padding: 0;
  }
}
.diagram {
  width: 1050px;
  margin: 100px auto 0;
  margin-bottom: 200px;
}
.diagram__content {
  margin-bottom: 30px;
  font-family: "Commissioner", sans-serif;
  font-family: "Lato", sans-serif;
  padding: 0 15px;
}
.diagram__text {
  color: #626262;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-weight: 400;
  font-family: 'Commissioner', sans-serif;
}
.diagram__prev {
  display: flex;
  align-items: center;
}
.diagram__btn {
  width: 30px;
  height: 19px;
  background: #e83d46;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-left: 5px;
  margin: 0 15px;
}
.diagram__elips {
  width: 11px;
  height: 11px;
  background: #f9a620;
  border-radius: 100%;
  transition: 0.5s;
  transform: translate(0px, 0);
}
.diagram__pay-container {
  display: grid;
  grid-template-columns: 500px 483px;
  justify-content: space-between;
}
.diagram__pay {
  display: flex;
  align-items: center;
}
.diagram__decore {
  height: 1px;
  background: #e4dfd5;
  flex-grow: 1;
}
.diagram__subtitle {
  margin-right: 15px;
  font-weight: 500;
  color: #626262;
  font-family: 'Commissioner', sans-serif;
}
.diagram__title {
  font-size: 32px;
  line-height: 49px;
  margin: 0;
  font-weight: 600;
}

.decore__text-decore {
  color: #a7a7a7;
}

.ml-auto {
  transition: 0.5s;
  transform: translate(15px, 0);
}

.diagram__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.chart {
  position: absolute;
  top: 30px;
}

.diagram__cart {
  width: 440px;
  border-radius: 15px;
  position: relative;
  max-width: 240px;
  height: 360px;
  box-shadow: 5px 5px 10px 1px gray;
}

#customLegend {
  max-height: 100px;
  width: 200px;
  bottom: 3px;
  left: 45px;
  position: absolute;
}

#customLegend ul {
  padding: 0;
}

.legend-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.legend__list {
  color: #626262;
  font-family: "MailSansRoman-Regular";
  font-size: 12px;
  line-height: 12px;
  list-style: none;
  margin-bottom: 15px;
  position: relative;
}

.legend__list span {
  position: absolute;
  left: -15px;
  margin: auto 0;
  top: 0;
  bottom: 0;
  height: 1px;
  font-size: 0px;
  padding: 5px 5px;
  border-radius: 50%;
}

.diagram__num {
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "MailSansRoman-Medium";
}

.diagram__num h6 {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  text-align: center;
  font-family: "MailSansRoman-Regular";
}

.diagram__num h4 {
  margin: 0;
  font-size: 38px;
  line-height: 59px;
}

.diagram__naming {
  color: #626262;
  font-family: 'Commissioner', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 19px;
  margin-left: 19px;
}/*# sourceMappingURL=style.css.map */