
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
.container {
  max-width: 1155px;
  padding: 0 15px;
  margin: 0 auto;
}
@font-face {
  font-family: "Proxima-Nova 400";
  src: url("../fonts/proximanova_regular.woff") format("woff"),
    url("../fonts/proximanova_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima-Nova 600";
  src: url("../fonts/proximanova_bold.woff") format("woff"),
    url("../fonts/proximanova_bold.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima-Nova 700";
  src: url("../fonts/proximanova_extrabold.woff") format("woff"),
    url("../fonts/proximanova_extrabold.woff2") format("woff2");
}
@font-face {
  font-family: "Parangon";
  src: local("Parangon 530 C"), local("Parangon-530-C"),
    url("../fonts/Parangon530C.woff2") format("woff2"),
    url("../fonts/Parangon530C.woff") format("woff"),
    url("../fonts/Parangon530C.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helveticaneuecyr-normal";
  src: url("../fonts/helveticaneuecyr_thin.woff") format("woff"),
    url("../fonts/helveticaneuecyr_thin.woff2") format("woff2");
}
@font-face {
  font-family: "helveticaneuecyr";
  src: url("../fonts/helveticaneuecyr_roman.woff") format("woff"),
    url("../fonts/helveticaneuecyr_roman.woff2") format("woff2");
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.woff") format("woff"),
    url("../fonts/GothamPro.woff2") format("woff2");
}
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamPro-Bold.woff") format("woff"),
    url("../fonts/GothamPro-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "MailSansRoman-Regular";
  src: url("../fonts/MailSansRoman-Regular.woff") format("woff"),
    url("../fonts/MailSansRoman-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "MailSansRoman-Medium";
  src: url("../fonts/MailSansRoman-Medium.woff") format("woff"),
    url("../fonts/MailSansRoman-Medium.woff2") format("woff2");
}
// 400
@import url("https://fonts.googleapis.com/css2?family=Commissioner&family=Lato:wght@700&display=swap");
// font-family: 'Commissioner', sans-serif;
// font-family: 'Lato', sans-serif;
// 500
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@500&family=Lato:wght@700&display=swap");
// font-family: 'Commissioner', sans-serif;
// font-family: 'Lato', sans-serif;
// 600
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@600&family=Lato:wght@700&display=swap");
// font-family: 'Commissioner', sans-serif;
// font-family: 'Lato', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@500&family=Lato:wght@700&display=swap");
// Задание первое
.accordion {
  font-family: "Lato", sans-serif;
  &__wrapper {
    padding: 0;
    display: grid;
    grid-template-columns: 540px 560px;
    justify-content: space-between;
  }
  &__list {
    margin-top: 25px;
    list-style: none;
    padding: 0;
  }
  &__text {
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5b5b5b;
    transition: 2s;
    padding: 0 30px;
  }
  &__text-hidden {
    transition: 2s;
    // padding-bottom: 1000px;
    display: none;
    bottom: 0;
  }
  &__inner {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 19px 28px;
    border: 2px solid #c6cdda;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    color: #283f75;
    letter-spacing: -0.25px;
    margin-bottom: 17px;
  }
}
.content-cms h2 {
  color: #283f75;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.3px;
  line-height: 44.2px;
}
.content-cms p {
  margin-top: 16px;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5b5b5b;
}
// product
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 942px;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: stretch;
}
.product {
  width: 290px;
  margin: 0px 36px 25px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &__wrapper {
    position: relative;
    margin-bottom: -4px;
  }
  &__decore-top {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    // width: 81px;
    padding: 0 6px;
    height: 14px;
    justify-content: center;
    font-family: "Parangon";
  }
  &__decore-top p {
    margin-top: 12px;
  }
  &__img-decore {
    margin-right: 4px;
  }
  &__image {
    margin: 0;
  }
  &__chapter {
    font-family: "Proxima-Nova 400";
    font-size: 14px;
    line-height: 17.05px;
    color: #6e6659;
    font-weight: 400;
    margin-bottom: 11px;
  }
  &__text {
    font-family: "Proxima-Nova 600";
    color: #264e58;
    line-height: 21.92px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
  }
  &__article {
    font-family: "Proxima-Nova 400";
    color: #a5a5a5;
    font-size: 14px;
    line-height: 17.05px;
    margin-bottom: 8px;
  }
  &__article span {
    color: #264e58;
  }
  &__prise {
    color: #a5a5a5;
    display: flex;
    align-items: end;
    font-family: "Proxima-Nova 400";
    font-size: 14px;
    line-height: 17px;
  }
  &__num {
    margin: 0 5px;
    font-family: "Proxima-Nova 700";
    color: #6e6659;
    font-size: 24px;
    line-height: 29.23px;
  }
  &__num::first-letter {
    margin-right: 5px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-top: 15px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-bottom: 22px;
    background: #eff5f5;
  }
  &__decore-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 15px;
    right: 10px;
    width: 60px;
    font-size: 8px;
    color: #4f493f;
    justify-content: center;
    background: white;
    height: 14px;
  }
  &__img-decore-bottom {
    margin-right: 2px;
  }
}
.bank {
  // ОБЩЕЕ
  &__wrapper-img-top {
    margin-left: 20px;
  }
  &__container {
    background: white;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  &__container-title {
    display: flex;
    position: absolute;
    font-family: "helveticaneuecyr-normal";
  }
  &__container-title span {
    margin-right: 11px;
    // margin-left: 10px;

    font-size: 20px;
    line-height: 30px;
  }
  &__container-title h2 {
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    margin: 0;
    font-family: "helveticaneuecyr-normal";
    font-size: calc((100vw - 375px) / (1920 - 375) * (48 - 20) + 20px);
    line-height: calc((100vw - 375px) / (1920 - 375) * (72 - 30) + 30px);
    text-transform: uppercase;
    letter-spacing: 1.7px;
  }
  &__content p {
    position: relative;
    max-width: 520px;
    font-family: "helveticaneuecyr";
    font-size: 16px;
    line-height: 24px;
  }
  &__content p::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: black;
  }
  // ТОП
  &__container-title-top h2 {
    margin-top: 5px;
  }
  &__container-title-top {
    top: 43px;
    left: 9px;
  }

  &__content-top p {
    padding-left: 30px;
    padding-right: 20px;
  }

  &__container-top {
    position: relative;
    justify-content: start;
  }

  &__content-top p {
    margin-left: 80px;
    margin-top: 130px;
  }
  // BOTTOM
  &__img-bottom {
    // margin-left: -10px;
  }
  &__container-bottom {
    justify-content: start;
  }
  &__container-title-bottom {
    top: 70px;
    right: 25px;
  }
  &__container-title-bottom span {
    color: white;
  }
  &__container-bottom h2 {
    max-width: 921px;
    margin-top: 5px;
  }
  &__container-bottom p {
    margin-top: 230px;
    margin-left: 49px;
    padding-left: 30px;
  }
  &__container-bottom {
    margin-top: 55px;
    position: relative;
  }
}
.d-none {
  display: none;
}
.form {
  font-family: "GothamPro";
  &__container {
    background-image: url(../image/fon.png);
    max-width: 1100px;
    padding: 201px 150px 186px 110px;
    margin: 0 auto;
  }
  &__mail {
    position: relative;
  }
  &__inner-mail {
    position: absolute;
    top: -50px;
    color: white;
    left: 0;
  }
  &__title {
    color: white;
    margin: 0;
    letter-spacing: -2.5px;
    font-size: 70px;
    font-family: "GothamProBold";
  }
  &__text-main {
    font-size: 18px;
    line-height: 27px;
    color: white;
    margin-bottom: 22px;
  }
  &__inputs {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
  }
  &__input {
    width: 275px;
    border: 1px solid white;
    background: transparent;
    padding: 14px 30px;
    color: white;
  }
  &__inputs input::placeholder {
    color: white;
  }
  &__tel {
    padding: 14px 5px 14px 55px;
  }
  &__wrapper-tel {
    position: relative;
  }
  &__wrapper-tel img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17.32px;
    height: 20px;
    margin: auto 0;
    background-repeat: no-repeat;
    background-image: url(/image/flag.png);
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  &__text {
    color: white;
    margin-top: 0px;
    max-width: 719px;
    line-height: 17.18px;
    font-size: 14px;
  }
  &__text a {
    color: #eb7979;
  }
  &__button {
    width: 337px;
    padding: 15px 0;
    cursor: pointer;
  }
}
@media (max-width: 1199px) {
  .products {
    display: none;
  }
  .accordion {
    display: none;
  }
  .bank {
    &__content p {
      min-width: 0px;
    }
    &__container-title {
      flex-direction: column-reverse;
      align-items: center;
    }
    // ОБЩЕЕ
    &__container-bottom {
      margin-top: 15px;
      position: relative;
    }
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__container-title {
      position: relative;
      top: 0;
      left: 0;
    }
    &__content p {
      margin: 0 auto;
      min-width: 800px;
      padding: 0 10px;
      margin-bottom: 20px;
    }
    &__content p::before {
      background: transparent;
    }
    &__wrapper-img {
      padding: 0 10px;
      order: 1;
      background-size: cover;
    }
    &__img {
      width: 100%;
    }
    &__container-title-bottom span {
      color: black;
    }
    &__container-title h2 {
      text-align: center;
    }
  }
}
@media (max-width: 960px) {
  .bank {
  }
}

.diagram {
  width: 1050px;
  margin: 100px auto 0;
  margin-bottom: 200px;
  &__content {
    margin-bottom: 30px;
    font-family: "Commissioner", sans-serif;
    font-family: "Lato", sans-serif;
    padding: 0 15px;
  }
  &__text {
    color: #626262;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    font-weight: 500;
  }
  &__prev {
    display: flex;
    align-items: center;
  }
  &__btn {
    width: 30px;
    height: 19px;
    background: #e83d46;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 5px;
    margin: 0 15px;
  }
  &__elips {
    width: 11px;
    height: 11px;
    background: #f9a620;
    border-radius: 100%;
    transition: 0.5s;
    transform: translate(0px, 0);
  }

  &__pay-container {
    display: grid;
    grid-template-columns: 500px 483px;
    // justify-items: center;
    justify-content: space-between;
  }
  &__pay {
    // max-width: 490px;
    display: flex;
    align-items: center;
  }
  &__decore {
    height: 1px;
    background: #e4dfd5;
    flex-grow: 1;
  }
  &__subtitle {
    // font-family: "Commissioner", sans-serif;
    // font-family: "Lato", sans-serif;
    margin-right: 15px;
    font-weight: 500;
    color: #626262;
  }
  &__title {
    font-size: 32px;
    line-height: 49px;
    margin: 0;
    font-weight: 600;
  }
}
.decore__text-decore {
  color: #a7a7a7;
}
.ml-auto {
  transition: 0.5s;
  transform: translate(15px, 0);
}
.diagram__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.chart {
  position: absolute;
  top: 30px;
}
.diagram__cart {
  width: 440px;
  border-radius: 15px;
  position: relative;
  max-width: 240px;
  height: 360px;
  box-shadow: 5px 5px 10px 1px gray;
}
#customLegend {
  max-height: 100px;
  width: 200px;
  bottom: 3px;
  left: 45px;
  position: absolute;
}
#customLegend ul {
  padding: 0;
}
.legend-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: auto;
}
.legend__list {
  color: #626262;
  font-family: "MailSansRoman-Regular";
  font-size: 12px;
  line-height: 12px;
  list-style: none;
  margin-bottom: 15px;
  position: relative;
}
.legend__list span {
  position: absolute;
  left: -15px;
  margin: auto 0;
  top: 0;
  bottom: 0;
  height: 1px;
  font-size: 0px;
  padding: 5px 5px;
  border-radius: 50%;
}
.diagram__num {
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "MailSansRoman-Medium";
}
.diagram__num h6 {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  text-align: center;
  font-family: "MailSansRoman-Regular";
}
.diagram__num h4 {
  margin: 0;
  font-size: 38px;
  line-height: 59px;
}
.diagram__naming {
  font-family: "MailSansRoman-Medium";
  font-size: 14px;
  line-height: 22px;
  margin-top: 19px;
  margin-left: 19px;
}
